<!DOCTYPE html>
<html>
<head>
    <title>LMS</title>
</head>
<body>

<nav>
    <a href="/">Home</a>

    {% if current_user.is_authenticated %}
        <span>Welcome {{ current_user.username }} ({{ current_user.role }})</span>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
</nav>

<hr>

{% with messages = get_flashed_messages() %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>