{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Instructor Dashboard</h2>

<div class="row mb-4">

    <div class="col-md-6">
        <div class="card bg-primary text-white p-3">
            <h5>Total Courses</h5>
            <h2>{{ total_courses }}</h2>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-success text-white p-3">
            <h5>Total Enrollments</h5>
            <h2>{{ total_students }}</h2>
        </div>
    </div>

</div>


{% for course in courses %}

<div class="card mb-4 shadow-sm">
    <div class="card-body">

        <h4>{{ course.title }}</h4>
        <p>{{ course.description }}</p>

        <p><strong>Students Enrolled:</strong>
            {{ course.enrollments|length }}
        </p>

        <a href="/course/{{ course.id }}/students"
           class="btn btn-info btn-sm">
           View Students
        </a>

    </div>
</div>

{% else %}
    <p>No courses created yet.</p>
{% endfor %}

{% endblock %}